@*@GeneratedCode*@
@model QTPriceChecker.AspMvc.Models.App.PriceHistory

<tr>
 <td>
  @Html.DisplayFor(model => model.SupplierXProductId)
 </td>
 <td>
  @Html.DisplayFor(model => model.From)
 </td>
 <td>
  @Html.DisplayFor(model => model.Price)
 </td>
 <td>
  @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
  @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
  @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
 </td>
</tr>
