@*@GeneratedCode*@
@model QTPriceChecker.AspMvc.Models.Base.Product

<tr>
 <td>
  @Html.DisplayFor(model => model.Number)
 </td>
 <td>
  @Html.DisplayFor(model => model.Designation)
 </td>
 <td>
  @Html.DisplayFor(model => model.Description)
 </td>
 <td>
  @Html.DisplayFor(model => model.Quantity)
 </td>
 <td>
  @Html.DisplayFor(model => model.Unit)
 </td>
 <td>
  @Html.DisplayFor(model => model.State)
 </td>
 <td>
  @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
  @Html.ActionLink("Details", "Details", new { id=Model.Id }) |
  @Html.ActionLink("Delete", "Delete", new { id=Model.Id })
 </td>
</tr>
